language: perl

perl:
    - "5.22"
#    - "5.20"
#   - "5.18"
#    - "5.16"
#    - "5.14"
#
#    - "5.12"
#    - "5.10"
#    - "5.8"

os:
    - linux

before_install:
 - cpanm --notest XML::SAX::Base XML::NamespaceSupport
 - git clone git://github.com/travis-perl/helpers ~/travis-perl-helpers
 - source ~/travis-perl-helpers/init
 - build-perl
 - perl -V
 - build-dist
#  - cd $BUILD_DIR
#  - perl Makefile.PL
#  - make
#  - cd ./blib

install:
  - cpan-install Devel::Cover
  - cpan-install --deps
  - cpan-install --coverage

before_script:
  - coverage-setup

script:
  - PERL5OPT=-MDevel::Cover=-coverage,statement,branch,condition,path,subroutine prove -lrv t
  - cover

after_success:
  - cover -report coveralls
  - coverage-report

matrix:
  include:
    - perl: 5.20
      env: COVERAGE=1
